In [1]:
## Pandas --> Python Library for Data Analysis
## It is used to handle data present in the tabular format like csv, excel etc.

In [37]:
import pandas as pd #pd is the alias (nick-name)

In [3]:
#if above command throws error then install the pandas
#!pip install pandas
#one time job

In [12]:
d=pd.DataFrame({"A":[1,2,3]},index=["a","b","c"])
d

   A
a  1
b  2
c  3

In [13]:
d.columns

Index(['A'], dtype='object')

In [14]:
d.index

Index(['a', 'b', 'c'], dtype='object')

In [15]:
d.values

array([[1],
       [2],
       [3]])

In [33]:
df1=pd.read_csv("D:\day.csv")
df1

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2025-01-01,1,1,1,0,2,1,2,0.583,0.553,0.844,0.457,35,52,87
1,2,2025-01-02,1,1,1,0,3,1,1,0.797,0.747,0.215,0.233,35,81,116
2,3,2025-01-03,1,1,1,0,4,1,1,0.248,0.277,0.491,0.047,12,18,30
3,4,2025-01-04,1,1,1,0,5,0,2,0.761,0.744,0.391,0.275,30,81,111
4,5,2025-01-05,1,1,1,0,6,0,1,0.863,0.864,0.840,0.484,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361,2025-12-27,1,1,12,0,5,0,3,0.452,0.467,0.235,0.327,24,46,70
361,362,2025-12-28,1,1,12,0,6,0,2,0.460,0.438,0.299,0.342,20,49,69
362,363,2025-12-29,1,1,12,0,0,1,1,0.846,0.859,0.896,0.269,46,88,134
363,364,2025-12-30,1,1,12,0,1,1,2,0.281,0.329,0.897,0.038,21,31,52
364,365,2025-12-31,1,1,12,0,2,1,1,0.498,0.491,0.428,0.323,18,59,77

In [ ]:
df=df[['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit',
       'casual', 'registered', 'cnt']]

In [38]:
# loading the data
df=pd.read_csv("bike_rent.csv")
df

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,1,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,1,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,1,Clear,12,18,30
3,3,4,2025-01-04,Spring,2012,Jan,No Holiday,Friday,0,Cloudy,30,81,111
4,4,5,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,0,Clear,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,360,361,2025-12-27,Spring,2012,Dec,No Holiday,Friday,0,Rain,24,46,70
361,361,362,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,0,Cloudy,20,49,69
362,362,363,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,1,Clear,46,88,134
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,1,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,1,Clear,18,59,77

In [29]:
## head command is used to see top n rows of the dataset
df.head()#by default shows 5 rows

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,1,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,1,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,1,Clear,12,18,30
3,3,4,2025-01-04,Spring,2012,Jan,No Holiday,Friday,0,Cloudy,30,81,111
4,4,5,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,0,Clear,51,77,128

In [ ]:
df["season"] = df["season"].map({
    1: "Spring",
    2: "Summer",
    3: "Fall",
    4: "Winter"
})

df["yr"] = df["yr"].map({
    0: "2011",
    1: "2012"
})

month_map = {
    1:"Jan", 2:"Feb", 3:"Mar", 4:"Apr", 5:"May", 6:"Jun",
    7:"Jul", 8:"Aug", 9:"Sep", 10:"Oct", 11:"Nov", 12:"Dec"
}
df["mnth"] = df["mnth"].map(month_map)

df["holiday"] = df["holiday"].map({
    0: "No Holiday",
    1: "Holiday"
})

df["weekday"] = df["weekday"].map({
    0: "Sunday",
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday"
})

df["workingday"] = df["workingday"].map({
    0: "Non-working Day",
    1: "Working Day"
})


df["weathersit"] = df["weathersit"].map({
    1: "Clear",
    2: "Cloudy",
    3: "Rain",
    4: "Severe Weather"
})

In [39]:
df["workingday"] = df["workingday"].map({
    0: "Non-working Day",
    1: "Working Day"
})

In [35]:
df.columns

Index(['Unnamed: 0', 'instant', 'dteday', 'season', 'yr', 'mnth', 'holiday',
       'weekday', 'workingday', 'weathersit', 'casual', 'registered', 'cnt'],
      dtype='object')

In [25]:
df=df[['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit',
       'casual', 'registered', 'cnt']]

In [40]:
df

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
3,3,4,2025-01-04,Spring,2012,Jan,No Holiday,Friday,Non-working Day,Cloudy,30,81,111
4,4,5,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,Non-working Day,Clear,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,360,361,2025-12-27,Spring,2012,Dec,No Holiday,Friday,Non-working Day,Rain,24,46,70
361,361,362,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,Non-working Day,Cloudy,20,49,69
362,362,363,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [41]:
## tail command is used to see last n rows of the dataset
df.tail()#by default shows 5 rows

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
360,360,361,2025-12-27,Spring,2012,Dec,No Holiday,Friday,Non-working Day,Rain,24,46,70
361,361,362,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,Non-working Day,Cloudy,20,49,69
362,362,363,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [42]:
df.tail(2)

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [43]:
# meta data of the dataset
df.shape #--> (No. of rows, no. of Columns)

(365, 13)

In [44]:
# Detailed Meta data summary
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  365 non-null    int64
 1   instant     365 non-null    int64
 2   dteday      365 non-null    object
 3   season      365 non-null    object
 4   yr          365 non-null    int64
 5   mnth        365 non-null    object
 6   holiday     365 non-null    object
 7   weekday     365 non-null    object
 8   workingday  365 non-null    object
 9   weathersit  365 non-null    object
 10  casual      365 non-null    int64
 11  registered  365 non-null    int64
 12  cnt         365 non-null    int64
dtypes: int64(6), object(7)
memory usage: 37.2+ KB

In [45]:
# to check the list of columns
ls=df.columns

### Poll question 1-

Ques. Write a python program to print the number of columns

- (a) df.columns
- (b) df.columns.len()
- (c) df.len.columns
- (d) len(df.columns)

In [46]:
ls

Index(['Unnamed: 0', 'instant', 'dteday', 'season', 'yr', 'mnth', 'holiday',
       'weekday', 'workingday', 'weathersit', 'casual', 'registered', 'cnt'],
      dtype='object')

In [47]:
# To fetch columns from the data
df[["season"]]

     season
0    Spring
1    Spring
2    Spring
3    Spring
4    Spring
..      ...
360  Spring
361  Spring
362  Spring
363  Spring
364  Spring

[365 rows x 1 columns]

In [48]:
df[["season","mnth"]]

     season mnth
0    Spring  Jan
1    Spring  Jan
2    Spring  Jan
3    Spring  Jan
4    Spring  Jan
..      ...  ...
360  Spring  Dec
361  Spring  Dec
362  Spring  Dec
363  Spring  Dec
364  Spring  Dec

[365 rows x 2 columns]

In [49]:
# Unique Values in any column
df["season"].unique()

array(['Spring', 'Summer', 'Fall', 'Winter'], dtype=object)

In [50]:
# Unique Values in any column
df["mnth"].unique()

array(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'], dtype=object)

In [51]:
# Number of unique values
df["season"].nunique()

4

In [52]:
df["mnth"].nunique()

12

In [53]:
# Count distribution of unique values in any column
df["season"].value_counts()

season
Summer    92
Fall      92
Winter    91
Spring    90
Name: count, dtype: int64

In [54]:
df["mnth"].value_counts()

mnth
Jan    31
Mar    31
Jul    31
May    31
Dec    31
Oct    31
Aug    31
Apr    30
Sep    30
Jun    30
Nov    30
Feb    28
Name: count, dtype: int64

In [59]:
# Percentage-wise distribution of the unique values in the column
df["holiday"].value_counts(normalize=True).mul(100).round(2)

holiday
No Holiday    98.36
Holiday        1.64
Name: proportion, dtype: float64

In [60]:
df["mnth"].value_counts(normalize=True).mul(100).round(2)

mnth
Jan    8.49
Mar    8.49
Jul    8.49
May    8.49
Dec    8.49
Oct    8.49
Aug    8.49
Apr    8.22
Sep    8.22
Jun    8.22
Nov    8.22
Feb    7.67
Name: proportion, dtype: float64

In [62]:
df[df["season"]=='Summer']

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
59,59,60,2025-03-01,Summer,2012,Mar,No Holiday,Friday,Non-working Day,Cloudy,19,35,54
60,60,61,2025-03-02,Summer,2012,Mar,No Holiday,Saturday,Non-working Day,Cloudy,18,46,64
61,61,62,2025-03-03,Summer,2012,Mar,No Holiday,Sunday,Working Day,Cloudy,15,28,43
62,62,63,2025-03-04,Summer,2012,Mar,No Holiday,Monday,Working Day,Clear,25,62,87
63,63,64,2025-03-05,Summer,2012,Mar,No Holiday,Tuesday,Working Day,Cloudy,23,45,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,146,147,2025-05-27,Summer,2012,May,No Holiday,Monday,Working Day,Clear,26,41,67
147,147,148,2025-05-28,Summer,2012,May,No Holiday,Tuesday,Working Day,Clear,29,75,104
148,148,149,2025-05-29,Summer,2012,May,No Holiday,Wednesday,Working Day,Clear,22,30,52
149,149,150,2025-05-30,Summer,2012,May,No Holiday,Thursday,Working Day,Cloudy,30,43,73
150,150,151,2025-05-31,Summer,2012,May,No Holiday,Friday,Non-working Day,Cloudy,19,33,52

In [ ]:
# filter by more than one condition
# Synatx--> df[(condition1)&(condition2)]## and --> & (ampersand)
# Synatx--> df[(condition1)|(condition2)]## or --> | (pipe)

In [63]:
df[(df['workingday']=='Working Day')&(df["season"]=='Summer')]

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
61,61,62,2025-03-03,Summer,2012,Mar,No Holiday,Sunday,Working Day,Cloudy,15,28,43
62,62,63,2025-03-04,Summer,2012,Mar,No Holiday,Monday,Working Day,Clear,25,62,87
63,63,64,2025-03-05,Summer,2012,Mar,No Holiday,Tuesday,Working Day,Cloudy,23,45,68
64,64,65,2025-03-06,Summer,2012,Mar,No Holiday,Wednesday,Working Day,Cloudy,35,51,86
65,65,66,2025-03-07,Summer,2012,Mar,No Holiday,Thursday,Working Day,Cloudy,10,16,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,146,2025-05-26,Summer,2012,May,No Holiday,Sunday,Working Day,Clear,29,59,88
146,146,147,2025-05-27,Summer,2012,May,No Holiday,Monday,Working Day,Clear,26,41,67
147,147,148,2025-05-28,Summer,2012,May,No Holiday,Tuesday,Working Day,Clear,29,75,104
148,148,149,2025-05-29,Summer,2012,May,No Holiday,Wednesday,Working Day,Clear,22,30,52
149,149,150,2025-05-30,Summer,2012,May,No Holiday,Thursday,Working Day,Cloudy,30,43,73

In [64]:

df[(df['workingday']=='Working Day')|(df["season"]=='Summer')]

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
5,5,6,2025-01-06,Spring,2012,Jan,No Holiday,Sunday,Working Day,Cloudy,9,12,21
6,6,7,2025-01-07,Spring,2012,Jan,No Holiday,Monday,Working Day,Clear,10,15,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,358,359,2025-12-25,Spring,2012,Dec,No Holiday,Wednesday,Working Day,Clear,20,40,60
359,359,360,2025-12-26,Spring,2012,Dec,No Holiday,Thursday,Working Day,Clear,16,29,45
362,362,363,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [65]:
# Analysis on filtered data
df_filtered=df[(df['workingday']=='Working Day')&(df["season"]=='Summer')]

In [66]:
df_filtered.head()

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
61,61,62,2025-03-03,Summer,2012,Mar,No Holiday,Sunday,Working Day,Cloudy,15,28,43
62,62,63,2025-03-04,Summer,2012,Mar,No Holiday,Monday,Working Day,Clear,25,62,87
63,63,64,2025-03-05,Summer,2012,Mar,No Holiday,Tuesday,Working Day,Cloudy,23,45,68
64,64,65,2025-03-06,Summer,2012,Mar,No Holiday,Wednesday,Working Day,Cloudy,35,51,86
65,65,66,2025-03-07,Summer,2012,Mar,No Holiday,Thursday,Working Day,Cloudy,10,16,26

In [67]:
df_filtered.tail()

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
145,145,146,2025-05-26,Summer,2012,May,No Holiday,Sunday,Working Day,Clear,29,59,88
146,146,147,2025-05-27,Summer,2012,May,No Holiday,Monday,Working Day,Clear,26,41,67
147,147,148,2025-05-28,Summer,2012,May,No Holiday,Tuesday,Working Day,Clear,29,75,104
148,148,149,2025-05-29,Summer,2012,May,No Holiday,Wednesday,Working Day,Clear,22,30,52
149,149,150,2025-05-30,Summer,2012,May,No Holiday,Thursday,Working Day,Cloudy,30,43,73

In [68]:
df_filtered["season"].value_counts()

season
Summer    65
Name: count, dtype: int64

In [69]:
df

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
3,3,4,2025-01-04,Spring,2012,Jan,No Holiday,Friday,Non-working Day,Cloudy,30,81,111
4,4,5,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,Non-working Day,Clear,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,360,361,2025-12-27,Spring,2012,Dec,No Holiday,Friday,Non-working Day,Rain,24,46,70
361,361,362,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,Non-working Day,Cloudy,20,49,69
362,362,363,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
363,363,364,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
364,364,365,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [70]:
# Sample the data
df.sample()
# by default 1 randomly selected data (row) will be returned

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
335,335,336,2025-12-02,Spring,2012,Dec,No Holiday,Monday,Working Day,Clear,7,10,17

In [71]:
df.sample(5)

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
294,294,295,2025-10-22,Winter,2012,Oct,No Holiday,Tuesday,Working Day,Cloudy,40,71,111
107,107,108,2025-04-18,Summer,2012,Apr,No Holiday,Thursday,Working Day,Cloudy,9,27,36
44,44,45,2025-02-14,Spring,2012,Feb,No Holiday,Thursday,Working Day,Clear,12,18,30
193,193,194,2025-07-13,Fall,2012,Jul,No Holiday,Saturday,Non-working Day,Cloudy,42,95,137
60,60,61,2025-03-02,Summer,2012,Mar,No Holiday,Saturday,Non-working Day,Cloudy,18,46,64

In [72]:
df.head(10)

,Unnamed: 0,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
0,0,1,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
1,1,2,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
2,2,3,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
3,3,4,2025-01-04,Spring,2012,Jan,No Holiday,Friday,Non-working Day,Cloudy,30,81,111
4,4,5,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,Non-working Day,Clear,51,77,128
5,5,6,2025-01-06,Spring,2012,Jan,No Holiday,Sunday,Working Day,Cloudy,9,12,21
6,6,7,2025-01-07,Spring,2012,Jan,No Holiday,Monday,Working Day,Clear,10,15,25
7,7,8,2025-01-08,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Clear,39,95,134
8,8,9,2025-01-09,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,40,78,118
9,9,10,2025-01-10,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,19,44,63

In [73]:
df=df.set_index("instant")
#####OR#############
#df.set_index("instant",inplace=True)

In [74]:
df

,Unnamed: 0,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
instant,,,,,,,,,,,,
1,0,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
2,1,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
3,2,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
4,3,2025-01-04,Spring,2012,Jan,No Holiday,Friday,Non-working Day,Cloudy,30,81,111
5,4,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,Non-working Day,Clear,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...
361,360,2025-12-27,Spring,2012,Dec,No Holiday,Friday,Non-working Day,Rain,24,46,70
362,361,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,Non-working Day,Cloudy,20,49,69
363,362,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
364,363,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
365,364,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

# Statistical Operations

In [75]:
df["cnt"].max()

153

In [62]:
df["cnt"].min()

2.4243464

In [63]:
df["cnt"].mean()

20.31925921698629

In [64]:
df["cnt"].std()

7.506728936951135

In [65]:
df["cnt"].var()

56.35097933285952

In [66]:
df["cnt"].count()

730

In [67]:
df["cnt"].sum()

14833.059228400001

In [68]:
df["cnt"].median()

20.4658265

In [76]:
# Statistical Summmary of all numerical columns
df.describe()

       Unnamed: 0      yr      casual  registered         cnt
count  365.000000   365.0  365.000000  365.000000  365.000000
mean   182.000000  2012.0   24.265753   48.684932   72.950685
std    105.510663     0.0   12.398514   23.603453   35.007892
min      0.000000  2012.0    1.000000    7.000000   13.000000
25%     91.000000  2012.0   14.000000   29.000000   44.000000
50%    182.000000  2012.0   23.000000   47.000000   71.000000
75%    273.000000  2012.0   34.000000   68.000000  101.000000
max    364.000000  2012.0   59.000000  107.000000  153.000000

In [77]:
df[["cnt"]].describe()

              cnt
count  365.000000
mean    72.950685
std     35.007892
min     13.000000
25%     44.000000
50%     71.000000
75%    101.000000
max    153.000000

# Sorting

In [78]:
sub=df.sample(20)

In [79]:
df

,Unnamed: 0,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,casual,registered,cnt
instant,,,,,,,,,,,,
1,0,2025-01-01,Spring,2012,Jan,No Holiday,Tuesday,Working Day,Cloudy,35,52,87
2,1,2025-01-02,Spring,2012,Jan,No Holiday,Wednesday,Working Day,Clear,35,81,116
3,2,2025-01-03,Spring,2012,Jan,No Holiday,Thursday,Working Day,Clear,12,18,30
4,3,2025-01-04,Spring,2012,Jan,No Holiday,Friday,Non-working Day,Cloudy,30,81,111
5,4,2025-01-05,Spring,2012,Jan,No Holiday,Saturday,Non-working Day,Clear,51,77,128
...,...,...,...,...,...,...,...,...,...,...,...,...
361,360,2025-12-27,Spring,2012,Dec,No Holiday,Friday,Non-working Day,Rain,24,46,70
362,361,2025-12-28,Spring,2012,Dec,No Holiday,Saturday,Non-working Day,Cloudy,20,49,69
363,362,2025-12-29,Spring,2012,Dec,No Holiday,Sunday,Working Day,Clear,46,88,134
364,363,2025-12-30,Spring,2012,Dec,No Holiday,Monday,Working Day,Cloudy,21,31,52
365,364,2025-12-31,Spring,2012,Dec,No Holiday,Tuesday,Working Day,Clear,18,59,77

In [80]:
sub=sub[["casual","registered","cnt"]]

In [81]:
sub

         casual  registered  cnt
instant
360          16          29   45
301           9          15   24
269          22          29   51
172          38          73  111
171          38          57   95
96           42          83  125
36           32          70  102
13           28          60   88
292          53          78  131
257          23          59   82
259          37          82  119
101           8          17   25
114          31          56   87
236          20          57   77
283          29          74  103
365          18          59   77
5            51          77  128
239          36          95  131
220          38          60   98
201           8          34   42

In [82]:
sub.sort_values(by="casual")# by default ascending order

         casual  registered  cnt
instant
101           8          17   25
201           8          34   42
301           9          15   24
360          16          29   45
365          18          59   77
236          20          57   77
269          22          29   51
257          23          59   82
13           28          60   88
283          29          74  103
114          31          56   87
36           32          70  102
239          36          95  131
259          37          82  119
172          38          73  111
171          38          57   95
220          38          60   98
96           42          83  125
5            51          77  128
292          53          78  131

In [83]:
sub.sort_values(by="casual",ascending=False)

         casual  registered  cnt
instant
292          53          78  131
5            51          77  128
96           42          83  125
172          38          73  111
220          38          60   98
171          38          57   95
259          37          82  119
239          36          95  131
36           32          70  102
114          31          56   87
283          29          74  103
13           28          60   88
257          23          59   82
269          22          29   51
236          20          57   77
365          18          59   77
360          16          29   45
301           9          15   24
101           8          17   25
201           8          34   42

In [87]:
df.sort_values(by=["season","casual"],ascending=[True,True])[["season","casual","cnt"]]

         season  casual  cnt
instant
192        Fall       3   14
207        Fall       4   20
157        Fall       5   13
210        Fall       6   22
159        Fall       7   25
...         ...     ...  ...
288      Winter      46  141
319      Winter      47  147
286      Winter      48  134
250      Winter      52  132
292      Winter      53  131

[365 rows x 3 columns]

In [88]:
df.sort_values(by=["season","casual"],ascending=[True,False])[["season","casual","cnt"]]

         season  casual  cnt
instant
234        Fall      56  147
189        Fall      48  130
213        Fall      45  126
198        Fall      44  128
165        Fall      43  112
...         ...     ...  ...
291      Winter       5   23
244      Winter       4   17
251      Winter       4   22
293      Winter       3   21
322      Winter       1   15

[365 rows x 3 columns]

# Group by

In [90]:
# Group_column
#Aggregate_column
#Aggregate_function
#Syntax--> dataframe.groupby("group_columns")["aggregate_column"].aggregare_function()
df.groupby(by="mnth")["cnt"].mean()

mnth
Apr    77.566667
Aug    79.032258
Dec    76.161290
Feb    69.892857
Jan    76.741935
Jul    71.258065
Jun    61.033333
Mar    69.161290
May    70.290323
Nov    75.700000
Oct    71.129032
Sep    77.133333
Name: cnt, dtype: float64

In [85]:
df[df["mnth"]==1]["temp"].mean()

9.694200958064515

In [88]:
# multiple aggregate columns
df.groupby(by="mnth")[["temp","windspeed"]].mean()

           temp  windspeed
mnth
1      9.694201  13.822285
2     12.235249  14.494573
3     16.012089  14.920863
4     19.269952  15.710310
5     24.386735  12.260258
6     28.047985  12.423134
7     30.974287  11.125941
8     29.051844  11.585516
9     25.275884  11.118323
10    19.885500  11.738767
11    15.138010  12.314695
12    13.285270  11.832798

In [87]:
print(df[df["mnth"]==1]["temp"].mean())
print(df[df["mnth"]==1]["windspeed"].mean())

9.694200958064515
13.822285438709676

In [89]:
# multiple group columns
df.groupby(by=["yr","mnth"])["temp"].mean()

yr  mnth
0   1        8.105974
    2       11.584143
    3       13.598330
    4       19.318726
    5       23.666480
    6       28.416417
    7       31.101588
    8       28.919847
    9       25.128349
    10      19.268996
    11      16.495863
    12      13.332471
1   1       11.282428
    2       12.886354
    3       18.425848
    4       19.221179
    5       25.106990
    6       27.679554
    7       30.846986
    8       29.183841
    9       25.423418
    10      20.502004
    11      13.780157
    12      13.238068
Name: temp, dtype: float64

In [90]:
df[(df["yr"]==0)&(df["mnth"]==1)]["temp"].mean()

8.105974303225805

In [91]:
# multiple group columns and multiple aggrgate columns
df.groupby(by=["yr","mnth"])[["temp","windspeed"]].mean()

              temp  windspeed
yr mnth
0  1      8.105974  13.093060
   2     11.584143  15.314059
   3     13.598330  15.571321
   4     19.318726  16.362499
   5     23.666480  12.145379
   6     28.416417  11.939090
   7     31.101588  11.501716
   8     28.919847  12.778276
   9     25.128349  10.250290
   10    19.268996  11.770932
   11    16.495863  12.123370
   12    13.332471  11.258681
1  1     11.282428  14.551511
   2     12.886354  13.675088
   3     18.425848  14.270404
   4     19.221179  15.058121
   5     25.106990  12.375138
   6     27.679554  12.907177
   7     30.846986  10.750167
   8     29.183841  10.392756
   9     25.423418  11.986356
   10    20.502004  11.706602
   11    13.780157  12.506020
   12    13.238068  12.406915

In [97]:
# multiple aggregate functions
df.groupby(by="mnth").agg({"temp":"mean","windspeed":"median"})

           temp  windspeed
mnth
1      9.694201  12.729163
2     12.235249  13.368175
3     16.012089  14.770988
4     19.269952  15.666979
5     24.386735  11.688016
6     28.047985  11.521052
7     30.974287  11.042036
8     29.051844  11.166521
9     25.275884  10.166714
10    19.885500  11.166387
11    15.138010  11.812938
12    13.285270  11.110710

In [95]:
#df[df["mnth"]==1]["temp"].mean()
df[df["mnth"]==1]["windspeed"].median()

12.729162500000001

In [98]:
# multilple group columns, multiple aggregate column and multiple aggregate functions
df.groupby(by=["yr","mnth"]).agg({"temp":"mean","windspeed":"median"})

              temp  windspeed
yr mnth
0  1      8.105974  12.522300
   2     11.584143  15.186857
   3     13.598330  15.125250
   4     19.318726  15.917123
   5     23.666480  11.792000
   6     28.416417  11.104547
   7     31.101588  11.334457
   8     28.919847  13.209050
   9     25.128349   9.729506
   10    19.268996  11.750393
   11    16.495863  11.875180
   12    13.332471  11.584032
1  1     11.282428  13.375746
   2     12.886354  12.791707
   3     18.425848  13.458625
   4     19.221179  15.333787
   5     25.106990  11.584032
   6     27.679554  11.792000
   7     30.846986  10.542450
   8     29.183841   9.458993
   9     25.423418  10.666668
   10    20.502004  11.125618
   11    13.780157  11.812938
   12    13.238068  10.584325

In [99]:
# Complicated Combination
# Multiple group columns, Multiple aggregate columns, Multiple aggregate functions 
#on same columns

df.groupby(by=["yr","mnth"]).agg({"temp":["min","max","mean"],"windspeed":["std","var"]})

              temp                       windspeed
               min        max       mean       std        var
yr mnth
0  1      2.424346  14.902598   8.105974  4.945748  24.460422
   2      5.526103  21.388347  11.584143  7.076592  50.078154
   3      8.131653  22.140000  13.598330  3.643585  13.275713
   4     12.300000  25.898347  19.318726  4.967616  24.677209
   5     16.980847  31.775000  23.666480  4.516225  20.396291
   6     24.770847  33.141653  28.416417  3.839557  14.742197
   7     27.196653  34.815847  31.101588  3.251677  10.573404
   8     26.103347  32.116653  28.919847  4.288874  18.394443
   9     19.235847  29.075847  25.128349  4.008530  16.068310
   10    10.420847  24.155847  19.268996  6.154015  37.871899
   11    11.240847  21.730000  16.495863  5.595845  31.313479
   12     9.054153  18.962500  13.332471  5.293200  28.017965
1  1      4.407500  17.425000  11.282428  5.738266  32.927693
   2      5.227500  19.235847  12.886354  5.026999  25.270724
   3      9.976653  24.668347  18.425848  6.428712  41.328332
   4     13.188347  27.230847  19.221179  5.373875  28.878528
   5     20.739153  29.622500  25.106990  3.980996  15.848330
   6     22.174153  34.200847  27.679554  4.354369  18.960532
   7     24.429153  35.328347  30.846986  2.569519   6.602427
   8     26.069153  32.526653  29.183841  4.057908  16.466616
   9     21.080847  30.886653  25.423418  4.750297  22.565317
   10    13.045462  26.957500  20.502004  5.537795  30.667176
   11    10.079153  19.885000  13.780157  5.919879  35.044971
   12     8.849153  19.509153  13.238068  6.451940  41.627525

### Poll question 2-

Ques. Which of the following function is used for sorting the dataframes.


- (a) sort
- (b) sorted
- (c) sortvalues
- (d) sort_values

### loc and iloc

In [91]:
data = pd.DataFrame({'Brand': ['Maruti', 'Hyundai', 'Tata',
                               'Mahindra', 'Maruti', 'Hyundai',
                               'Renault', 'Tata', 'Maruti'],
                     'Year': [2012, 2018, 2011, 2015, 2012,
                              2016, 2018, 2021, 2022],
                     'Kms Driven': [5000, 3000, 6000,
                                    2500, 1000, 4000,
                                    3100, 1000, 1000],
                     'City': ['Gurgaon', 'Delhi', 'Mumbai',
                              'Delhi', 'Mumbai', 'Delhi',
                              'Mumbai', 'Chennai',  'Ghaziabad'],
                     'Mileage':  [28, 27, 25, 26, 28,
                                  29, 24, 21, 24]})
data.loc[2: 5]

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011        6000  Mumbai       25
3  Mahindra  2015        2500   Delhi       26
4    Maruti  2012        1000  Mumbai       28
5   Hyundai  2016        4000   Delhi       29

In [92]:
data.iloc[[0, 2, 4, 7]]

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012        5000  Gurgaon       28
2    Tata  2011        6000   Mumbai       25
4  Maruti  2012        1000   Mumbai       28
7    Tata  2021        1000  Chennai       21

## Concat

In [93]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    },
    index=[0, 1, 2, 3],
)

In [94]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
        "C": ["C4", "C5", "C6", "C7"],
        "D": ["D4", "D5", "D6", "D7"],
    },
    index=[4, 5, 6, 7],
)

In [95]:
df3 = pd.DataFrame(
    {
        "A": ["A8", "A9", "A10", "A11"],
        "B": ["B8", "B9", "B10", "B11"],
        "C": ["C8", "C9", "C10", "C11"],
        "D": ["D8", "D9", "D10", "D11"],
    },
    index=[8, 9, 10, 11],
)

In [96]:
frames = [df1, df2, df3]

In [97]:
result = pd.concat(frames)

In [98]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [99]:
result1 = pd.concat(frames,axis=1)
result1

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

## Merging

In [100]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [101]:
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

In [102]:
result = pd.merge(left, right, on="key",how='left')
result

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

## Pivot Table

In [ ]:
df = pd.DataFrame({'ID': {0: 23, 1: 43, 2: 12, 
                          3: 13, 4: 67, 5: 89,
                          6: 90, 7: 56, 8: 34},
                     
                 'Name': {0: 'Ram', 1: 'Deep', 2: 'Yash',
                          3: 'Aman', 4: 'Arjun', 5: 'Aditya',
                          6: 'Akash', 7: 'Chalsea',
                          8: 'Divya'},
                     
                 'Marks': {0: 89, 1: 97, 2: 45,
                           3: 78, 4: 56, 5: 76,
                           6: 81, 7: 87, 8: 100},
                     
                 'Grade': {0: 'B', 1: 'A', 2: 'F',
                           3: 'C', 4: 'E', 5: 'C',
                           6: 'B', 7: 'B', 8: 'A'}})
  
# simple use pivot_table() method
print(pd.pivot_table(df, index = ["ID"]))

## Pivot

In [ ]:
df = pd.DataFrame({'A': ['John', 'Boby', 'Mina'],
      'B': ['Masters', 'Graduate', 'Graduate'],
      'C': [27, 23, 21]})

# value is a list
df.pivot(index ='A', columns ='B', values =['C', 'A'])